[Desktop Entry]
Name=FacetoneSoftPhone
Exec=facetonesoftphone
Icon=facetonesoftphone
Terminal=false
Type=Application
Categories=Network;Telephony;
Comment=Sip Softphone for Linux
